[submodule "zsh/themes/spaceship-prompt"]
	path = zsh/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "gnome/icons/Fluent-icon-theme"]
	path = gnome/icons/Fluent-icon-theme
	url = https://github.com/vinceliuice/Fluent-icon-theme
[submodule "gnome/terminal/gnome-terminal"]
	path = gnome/terminal/gnome-terminal
	url = https://github.com/dracula/gnome-terminal
[submodule "zsh/themes/pure"]
	path = zsh/themes/pure
	url = https://github.com/sindresorhus/pure
